@charset "UTF-8";

html, body {
    background-color: var(--Fundo-principal);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
}

/* HEADER FIXO */
header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    background: rgba(15, 23, 42, 0.4); /* transparente */
    backdrop-filter: blur(5px);

    transition: background 0.4s ease, backdrop-filter 0.4s ease;

    z-index: 1000;

    border-bottom: 1px solid rgba(255,255,255,0.05);
}

header.scroll {
     background: rgba(15, 23, 42, 0.9); /* mais sólido */
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

main {
    margin-top: 70px; /* ajuste conforme altura do menu */
}


/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
}

/* LOGO */
.logo {
    font-weight: bold;
    color: white;
}

/* HAMBURGUER */
.hamburguer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1000;
}

.hamburguer span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
}

/* ANIMAÇÃO X */
.hamburguer.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburguer.active span:nth-child(2) {
    opacity: 0;
}

.hamburguer.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* MENU */
.menu {
    position: absolute;
    top: 70px;
    right: 0;
    list-style-type: none;

    width: 200px;
    padding: 20px;

    background: #1e293b;
    border-radius: 10px 0 0 10px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    /* ESCONDIDO */
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: 0.3s;
}

/* MENU ATIVO */
.menu.active {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

/* LINKS */
.menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

main {
    margin-top: 70px; /* ajuste conforme altura do menu */
}

/* HERO */
.hero {
    padding: 60px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 15px;
    
}

#img1 {
    width: 100%;
    max-width: 300px;
    height: 200px;

    background-image: url(../imagens/imgwndral-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin-top: 30px;
}

/* "Olá, sou" */
.hero p {
    font-size: 0.9rem;
    color: var(--Texto-secundário);
    margin: 0px;
}

/* Nome */
.hero h1 {
    font-size: 2.2rem;
    font-weight: 700;
    font-family: var(--font-title);

    background: linear-gradient(
        45deg,
        var(--Cor-principal-destaque),
        var(--Cor-secundária),
        var(--Cor-de-destaque)
    );
    margin: 0px;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CONTAINER */
.hero-actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* REDES SOCIAIS */
.social-icons {
    display: flex;
    gap: 15px;
}

/* BOTÕES REDONDOS */
.icon {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    border: 2px solid var(--Cor-principal-destaque);

    color: var(--Cor-principal-destaque);
    font-size: 1.2rem;

    transition: 0.3s;
}

/* HOVER */
.icon:hover {
    background: var(--Cor-principal-destaque);
    color: white;

    box-shadow: 0 0 15px var(--Cor-principal-destaque);
}

/* BOTÃO CONTRATE */
.btn-contrate {
    padding: 12px 25px;

    border-radius: 25px;

    background: linear-gradient(
        45deg,
        var(--Cor-principal-destaque),
        var(--Cor-secundária)
    );

    color: white;
    text-decoration: none;

    font-weight: 600;

    transition: 0.3s;
}

/* HOVER BOTÃO */
.btn-contrate:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.4);
}

/* Cargo */
.hero p:nth-child(3) {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--Texto-principal);
    margin: 0px;
}

/* Descrição */
.hero p:nth-child(4) {
    font-size: 1rem;
    color: var(--Texto-secundário);
    line-height: 1.6;
}

/* SEÇÃO SOBRE */
#sobre {
    padding: 60px 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* TÍTULO */
#sobre h2 {
    font-size: 1.8rem;
    font-family: var(--font-title);
    font-weight: var(--fw-semibold);

    color: var(--Texto-principal);

    position: relative;
}

/* LINHA DECORATIVA */
#sobre h2::after {
    content: "";
    display: block;

    width: 60px;
    height: 3px;

    margin-top: 8px;

    background: linear-gradient(
        45deg,
        var(--Cor-principal-destaque),
        var(--Cor-secundária)
    );

    border-radius: 5px;
}

/* TEXTO */
#sobre p {
    font-size: 1rem;
    color: var(--Texto-secundário);
    line-height: 1.7;

    text-align: justify;
}

/* Seção de Habilidades */
.skills {
    min-height: 100vh;
    padding: 40px 20px;
    text-align: center;
    background-color: var(--cor3);
}

.skills h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
}

/* Container das caixas */
.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

/* Estilo das caixas */
.skill-box {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.skill-box.wide {
    grid-column: span 2; /* Ocupa duas colunas em telas grandes */
}

/* Ícones */
.skill-box i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #333;
    transition: color 0.3s ease;
}

/* Animação ao passar o mouse */
.skill-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/*.skill-box:hover i {
    color: var(--cor2); /* Muda a cor do ícone ao passar o mouse 
}*/

#html-skill:hover i {
    color: #E34F26;
}

#css-skill:hover i {
    color: #1572B6;
}

#js-skill:hover i {
    color: #F7DF1E;
}

/* Texto da caixa */
.skill-box h3 {
    margin: 0;
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.skill-box p {
    margin: 0;
    color: #555;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Exibir texto ao passar o mouse */
.skill-box:hover p {
    opacity: 1;
    transform: translateY(0);
}

/* Responsividade para versão mobile */
@media screen and (max-width: 768px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }

    .skill-box.wide {
        grid-column: span 2; /* Ocupa toda a linha na versão mobile */
    }
}


/*PROJETOS*/
.section {
    padding: 10px;
}

.section h2 {
    font-size: 1.8rem;
    font-family: var(--font-title);
    font-weight: var(--fw-semibold);

    color: var(--Texto-principal);

    position: relative;
}

/* LINHA DECORATIVA */
.section h2::after {
    content: "";
    display: block;

    width: 60px;
    height: 3px;

    margin-top: 8px;

    background: linear-gradient(
        45deg,
        var(--Cor-principal-destaque),
        var(--Cor-secundária)
    );

    border-radius: 5px;
}

#lista-projetos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projeto {
    background: var(--Fundo-secundário-cards);
    padding: 15px;
    border-radius: 10px;
}

.projeto img {
    width: 100%;
    border-radius: 8px;
}

.projeto h3 {
    margin: 10px 0 5px;
    color: var(--Texto-principal);
}

.projeto p {
    font-size: 0.9rem;
    color: var(--Texto-secundário);
}

.projeto a {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 10px;

    background: var(--Cor-principal-destaque);
    color: white;

    border-radius: 5px;
    text-decoration: none;
}

/* TÍTULO */
#contato h2 {
    font-size: 1.8rem;
    font-family: var(--font-title);
    font-weight: var(--fw-semibold);

    color: var(--Texto-principal);

    position: relative;
}

/* LINHA */
#contato h2::after {
    content: "";
    display: block;

    width: 60px;
    height: 3px;

    margin-top: 8px;

    background: linear-gradient(
        45deg,
        var(--Cor-principal-destaque),
        var(--Cor-secundária)
    );

    border-radius: 5px;
}

/* FORM */
.form-contato {
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* INPUTS */
.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 12px;

    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.1);

    background: var(--Fundo-secundário-cards);
    color: var(--Texto-principal);

    font-family: var(--font-text);
}

/* TEXTAREA */
.form-contato textarea {
    height: 120px;
    resize: none;
}

/* FOCO */
.form-contato input:focus,
.form-contato textarea:focus {
    outline: none;
    border-color: var(--Cor-principal-destaque);
}

/* BOTÃO */
.form-contato .btn {
    border: none;
    cursor: pointer;

    padding: 12px;

    border-radius: 8px;

    background: linear-gradient(
        45deg,
        var(--Cor-principal-destaque),
        var(--Cor-secundária)
    );

    color: white;
    font-weight: 600;

    transition: 0.3s;
}

/* HOVER */
.form-contato .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.4);
}

/* FOOTER */
footer {
    margin-top: 40px;
    padding: 20px;

    text-align: center;

    border-top: 1px solid rgba(255,255,255,0.1);

    background: linear-gradient(
        180deg,
        transparent,
        rgba(255,255,255,0.02)
    );
}

/* TEXTO */
footer p {
    font-size: 0.9rem;
    color: var(--Texto-secundário);
}